[submodule "lisp/flutter"]
	path = lisp/flutter
	url = https://github.com/amake/flutter.el.git
[submodule "lisp/shfmt"]
	path = lisp/shfmt
	url = git@github.com:amake/shfmt.el.git
[submodule "hl-tags-mode"]
	path = lisp/hl-tags-mode
	url = https://github.com/amake/hl-tags-mode.git
